ASPNETCORE_ENVIRONMENT=Production

DB_NAME=cookbookDB
DB_USER=cookbookadmin
DB_PASSWORD="ChangeThisPassword_123!"
DB_PORT=1433

PG_DB=auditdb
PG_USER=audituser
PG_PASSWORD="ChangeThisPassword_123!"
PG_PORT=5432

API_PORT=8080
APP_PORT=8081

# Azure AD (required for login tracking in Grafana)
AZURE_AD_INSTANCE=https://ultimatecookbook.ciamlogin.com/
AZURE_AD_TENANT_ID=
AZURE_AD_CLIENT_ID=
AZURE_AD_CLIENT_SECRET=
